.longe-bordas{
    background-color: #FFA6A9;
    display: block;
    margin: 100px;

  }
  
  .afastado{
    background-color: #77C0ED;
    margin: 50px 0;
    display: block;
    color: black;
  }
  .alto{
    background-color: #C3E887;
    height: 300px;
    color: black;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  padding: 32px;
  color: black
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: 2px solid 5px black;
  }
  
  .sumido{
    display: none;
   
  }