*{
  padding: 0;
  margin: 0;
  color:chocolate;
  box-sizing: border-box;
}
header{
  color: chocolate;
  
}
main{
  font-family: Helvetica;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 65.6vw;
  padding: 3.1vw;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 1.5vw;
  width: 26.5vw;
}

article{
  margin: 10px 0;
}