*{
  padding: 0;
  margin: 0;
}

header{
  
}

main{
  font-family: Helvetica;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 60vw;
  padding: 1rem;
  background-color: brown;
  color: white
}

aside{
  float: right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 5%;
  width: 25%;
  background-color: blue;
  color: white
}

article{
  margin: 1rem 0;
}
