#titulo-importante{
    background-color: blue;
    color: white;
}

.sub-titulo{
    background-color: yellow;
}

section{
    background-color: green;
}

h3, h4{
    color: white;
}

.titulo-pouco-importante{
    background-color: black;
}